<h1 id="tableLabel">B3 Projeto Avaliação</h1>

<p>Este componente demonstra a obtenção de dados do servidor.</p>

<p *ngIf="!tasklists"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="tasklists">
    <thead>
        <tr>
            <th>Description</th>
            <th>Due Date</th>
            <th>Situation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tasklist of tasklists">
            <td>{{ tasklist.description }}</td>
            <td>{{ tasklist.duedate }}</td>
            <td>{{ tasklist.situation }}</td>
        </tr>
    </tbody>
</table>
